{% extends 'base.html' %}

{% block sub_title %}
    Создание секретной записки
{% endblock %}

{% block content %}

        <h2>{{ SITE_URL }}{{ short_id }}/{{ password }}</h2>
        <button onclick="copyText()" id='copy-btn' class="btn btn-outline-primary">Копировать</button>
        <button onclick="window.location.href = '{% url 'private_notes' %}';" class="btn btn-outline-primary">Создать другую записку
        </button>

    <script>
        function copyText() {
            /* Copy text into clipboard */
            navigator.clipboard.writeText
            ("{{ SITE_URL }}{{ short_id }}/{{ password }}");
            document.getElementById("copy-btn")
                .innerHTML = 'Скопировано!';
        }
    </script>

{% endblock %}