{% load static %}

<!doctype html>
<html lang="ru">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/additional.css' %}">
    {% block css %}
    {% endblock %}

    <title>{% block title %}
        Verstov.pro
    {% endblock %}</title>
</head>
<body>


{#        NAVBAR #}
{% include 'inc/_nav.html' %}

{# Блок контента#}
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-1"></div>
        <div class="col-xl-2 col-lg-3 col-md-3">
            {% include 'inc/_sidebar.html' %}
        </div>
        <div class="col-xxl-8 col-xl-10 col-lg-9 col-md-9">

            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger"> {{ message }}</div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}


            {% block сard %}
                <div class="card mb-3">
                <div class="card-header">
                    {% block sub_title %}
                        Заголовок block sub_title
                    {% endblock %}
                </div>
                <div class="card-body">

                    {% block content %}
                        Контент block content
                    {% endblock %}
                </div>
            {% endblock %}


            <div class="col-xxl-1"></div>
            </div>

            <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"
                    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                    crossorigin="anonymous"></script>


</body>
</html>


