

* {
  box-sizing: border-box;
}
body {
  background-size: 6px 6px !important;
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 46%, coral 49%, coral 51%, rgba(0, 0, 0, 0) 55%);
  background-color: white;
  padding-top: 60px;
}
.audio-player {
  width: 100%;
  max-width: 475px;
  padding: 35px 20px;
  margin: auto;
  background-color: white;
  border: 1px solid black;
}
.audio-player .player-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.audio-player #radioIcon {
  width: 35px;
  height: 30px;
  background: url('{% static "/img/tickbox.gif" %}') no-repeat center;
  background-size: contain;
}
.audio-player #playAudio {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background: url('https://img.icons8.com/play') no-repeat center;
  background-size: contain;
}
.audio-player #playAudio.pause {
  background: url('https://img.icons8.com/pause') no-repeat center;
  background-size: contain;
}
.audio-player p {
  margin: 0 0 0 5px;
  line-height: 1;
  display: inline-flex;
}
.audio-player p small {
  font-size: 10px;
}
.audio-player #seekObjContainer {
  position: relative;
  width: 75%;
  margin: 0 5px;
  height: 5px;
}
.audio-player #seekObjContainer #seekObj {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  border: 1px solid black;
}
.audio-player #seekObjContainer #seekObj #percentage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: coral;
}
