<div class="list-group mb-3">

    {#    TODO сделать вывод циклом, с подсветкой активной ссылки#}
    <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Домашняя</a>

    <a href="{% url 'shortener' %}" class="list-group-item list-group-item-action">Сокращатель</a>

    <a href="{% url 'private_notes' %}" class="list-group-item list-group-item-action">Секретные записки</a>

    <a href="{% url 'show_audio_test' %}" class="list-group-item list-group-item-action">Аудиотест</a>

    <a href="{% url 'test' %}" class="list-group-item list-group-item-action">test</a>


</div>
